### LSE Data Analytics Online Career Accelerator

# Course 2: Data Analytics using Python

## Assignment: Diagnostic Analysis using Python

Youâ€™ll be working with real-world data to address a problem faced by the National Health Service (NHS). The analysis will require you to utilise Python to explore the available data, create visualisations to identify trends, and extract meaningful insights to inform decision-making.

### A note for students using this template
This Jupyter Notebook is a template you can use to complete the Course 2 assignment: Diagnostic Analysis using Python. 

Keep in mind: 
- You are **not required** to use this template to complete the assignment. 
- If you decide to use this template for your assignment, make a copy of the notebook and save it using the assignment naming convention: **LastName_FirstName_DA201_Assignment_Notebook.ipynb**.
- The workflow suggested in this template follows the Assignment Activities throughout the course.
- Refer to the guidance on the Assignment Activity pages for specific details. 
- The markup and comments in this template identify the key elements you need to complete before submitting the assignment.
- Make this notebook your own by adding your process notes and rationale using markdown, add links, screenshots, or images to support your analysis, refine or clarify the comments, and change the workflow to suit your process.
- All elements should be functional and visible in your Notebook. 
- Be sure to push your notebook to GitHub after completing each Assignment Activity.

 > ***Markdown*** Remember to change cell types to `Markdown`. You can review [Markdown basics](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) to find out how to add formatted text, links, and images to your notebook.

#

# Assignment activity 1

### Insert proof of your GitHub repository. This can be a link or screenshot showing your repo.

In [1]:
# My GitHub repository.

#

# Assignment activity 2

### Prepare your workstation

In [1]:
# Import the necessary libraries.
import pandas as pd
import numpy as np

# Optional - Ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import and sense-check the actual_duration.csv data set as ad.
ad = pd.read_csv('actual_duration.csv')

# View the DataFrame.
print(ad.columns)

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')

In [3]:
# Determine whether there are missing values.
print(ad.isna().sum())

sub_icb_location_code        0
sub_icb_location_ons_code    0
sub_icb_location_name        0
icb_ons_code                 0
region_ons_code              0
appointment_date             0
actual_duration              0
count_of_appointments        0
dtype: int64

In [4]:
# Determine the metadata of the data set.
print(ad.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB
None

In [5]:
# Determine the descriptive statistics of the data set.
ad.describe()

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [6]:
# Import and sense-check the appointments_regional.csv data set as ar.
ar = pd.read_csv('appointments_regional.csv')

# View the DataFrame.
print(ar.columns)

Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')

In [7]:
# Determine whether there are missing values.
print(ar.isna().sum())

icb_ons_code                         0
appointment_month                    0
appointment_status                   0
hcp_type                             0
appointment_mode                     0
time_between_book_and_appointment    0
count_of_appointments                0
dtype: int64

In [8]:
# Determine the metadata of the data set.
print(ar.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB
None

In [9]:
# Determine the descriptive statistics of the data set.
ar.describe()

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [10]:
# Import and sense-check the national_categories.xlsx data set as nc.
nc = pd.read_excel('national_categories.xlsx')

# View the DataFrame.
print(nc.columns)

Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')

In [11]:
# Determine whether there are missing values.
print(nc.isna().sum())

appointment_date         0
icb_ons_code             0
sub_icb_location_name    0
service_setting          0
context_type             0
national_category        0
count_of_appointments    0
appointment_month        0
dtype: int64

In [12]:
# Determine the metadata of the data set.
print(nc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB
None

In [14]:
# Determine the descriptive statistics of the data set.
nc.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

### Explore the data set

**Question 1:** How many locations are there in the data set?

In [13]:
# Determine the number of locations.

# Calculate the number of unique locations the dataset
count_of_locations = ad['sub_icb_location_code'].nunique()

# Display the number of unique locations
print(count_of_locations)


# Check the number of unique locations was correct
locations_check = nc['sub_icb_location_name'].nunique()

# Display the check
print(locations_check)

106
106

**Question 2:** What are the five locations with the highest number of records?

In [14]:
# Determine the top five locations based on record count.

# group the nc dataframe by location
locations_grouped = nc.groupby('sub_icb_location_name')

# create an empty list to store location count
count_of_records = []

# calculate the count of records for each location
# add the calculated values to the count of records list
for location_name, group_data in locations_grouped:
    count = len(group_data.index)
    count_of_records.append({
        'sub_icb_location_name': location_name, 'count': count})

# create a pandas dataframe with the count of records list
count_of_records = pd.DataFrame(count_of_records)

# sort the dataframe by the count column in descending order
sorted_count_of_records = count_of_records.sort_values(
    by='count', ascending=False)

sorted_count_of_records.head()

                          sub_icb_location_name  count
76            NHS North West London ICB - W2U3Z  13007
47                NHS Kent and Medway ICB - 91Q  12637
21                          NHS Devon ICB - 15N  12526
36  NHS Hampshire and Isle Of Wight ICB - D9Y0V  12171
67            NHS North East London ICB - A3A8R  11837

**Question 3:** How many service settings, context types, national categories, and appointment statuses are there?

In [15]:
# Determine the number of service settings.

# calculate the number of service settings
# (this matches the number of service settings in the metadata)
service_setting_count = nc['service_setting'].nunique()

print(service_setting_count)

5

In [16]:
# Determine the number of context types.

# calculate the number of context types
# (this matches the number of service settings in the metadata)
context_type_count = nc['context_type'].nunique()

print(context_type_count)

3

In [17]:
# Determine the number of national categories.

# calculate the number of national categories
# (this matches the number of service settings in the metadata)
national_category_count = nc['national_category'].nunique()

print(national_category_count)

18

In [18]:
# Determine the number of appointment status.

# calculate the number of appointment statuses
# (this matches the number of service settings in the metadata)
appointment_status_count = ar['appointment_status'].nunique()

print(appointment_status_count)

3

#

# Assignment activity 3

### Continue to explore the data and search for answers to more specific questions posed by the NHS.

**Question 1:** Between what dates were appointments scheduled?

In [19]:
# View the first five rows of appointment_date for the ad DataFrame to determine the date format.
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [20]:
# View the first five rows of appointment_date for the nc DataFrame to determine the date format.
nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [21]:
# Change the date format of ad['appointment_date'].

# import datetime module
from datetime import datetime

# change date format 
ad['appointment_date'] = pd.to_datetime(ad['appointment_date'], format='%d-%b-%y')

# View the DateFrame.
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,2021-12-01,16-20 Minutes,730

In [22]:
# Change the date format of nc['appointment_date']. ***(this may be redundant)***
nc['appointment_date'] = pd.to_datetime(nc['appointment_date'], format='%d-%b-%y')

nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [24]:
# Change the date format of ar['appointment_month'].

# change date format 
ar['appointment_month'] = pd.to_datetime(ar['appointment_month'],
                                    format='%Y-%m').dt.strftime('%Y-%m')

# View the DateFrame.
ar.head()

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [25]:
# Determine the minimum and maximum dates in the ad DataFrame.
# Use appropriate docstrings.
print(ad.min()['appointment_date'].date())
print(ad.max()['appointment_date'].date())

2021-12-01
2022-06-30

In [26]:
# Determine the minimum and maximum dates in the nc DataFrame.
# Use appropriate docstrings.
print(nc.min()['appointment_date'].date())
print(nc.max()['appointment_date'].date())

2021-08-01
2022-06-30

In [27]:
# Determine the minimum and maximum dates in the ar DataFrame.
print(ar.min()['appointment_month'])
print(ar.max()['appointment_month'])

2020-01
2022-06

**Question 2:** Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

In [45]:
# For each of these service settings, determine the number of records available for the period and the location.Â 

# Create the subset of the nc dataframe, called nc_subset specifying the 
# location as NHS North West London, and the dates as Jan - June 2022
nc_subset = nc[(nc['sub_icb_location_name'] == \
                'NHS North West London ICB - W2U3Z') &
              (nc['appointment_month'] >= '2022-01') &
              (nc['appointment_month'] <= '2022-06')]

# Calculate the popularity of each service setting
group_service_appointments = nc_subset.groupby('service_setting')

# View the output.
group_service_appointments.sum()

                           count_of_appointments
service_setting
Extended Access Provision                 115052
General Practice                         5719516
Other                                     181576
Primary Care Network                      130526
Unmapped                                  462758

**Question 3:** Which month had the highest number of appointments?

In [46]:
# Change the datatype for appointment_month to datetime
nc['appointment_month'] = pd.to_datetime(nc['appointment_month'], format='%Y-%m')

In [47]:
# Number of appointments per month == sum of count_of_appointments by month.
# Use the groupby() and sort_values() functions.

# Use groupby and sortvalues cuntion to calculate number of 
# appointments per month
nc['count_of_appointments'].groupby([nc['appointment_month'].dt.year,\
                                     nc['appointment_month'].dt.month])\
                                     .sum().sort_values(ascending=False)

appointment_month  appointment_month
2021               11                   30405070
                   10                   30303834
2022               3                    29595038
2021               9                    28522501
2022               5                    27495508
                   6                    25828078
                   1                    25635474
                   2                    25355260
2021               12                   25140776
2022               4                    23913060
2021               8                    23852171
Name: count_of_appointments, dtype: int64

**Question 4:** What was the total number of records per month?

# assuming total number of records only refers to the NC dataframe

In [48]:
#total records of per month for the NC dataframe

# Use groupby and sortvalues cuntion to calculate number of 
# appointments per month
nc['count_of_appointments'].groupby([nc['appointment_date'].dt.year,\
                                     nc['appointment_date'].dt.month])\
                                     .size().sort_values(ascending=False)

appointment_date  appointment_date
2022              3                   82822
2021              11                  77652
2022              5                   77425
2021              9                   74922
2022              6                   74168
2021              10                  74078
                  12                  72651
2022              1                   71896
                  2                   71769
                  4                   70012
2021              8                   69999
Name: count_of_appointments, dtype: int64

# assuming total number of records refers to all dataframes

In [60]:
# Change the datatype for appointment_month to datetime
ar['appointment_month'] = pd.to_datetime(ar['appointment_month'],
                                         format='%Y-%m')

In [61]:
# Create appointment month series in the ad dataframe
ad['appointment_month'] = pd.to_datetime(ad['appointment_date']
                                         .dt.strftime('%Y-%m'), format='%Y-%m')

In [62]:
# Combine the three dataframes with the concat() function
combined_df = pd.concat([nc, ar, ad], axis=0, ignore_index=True)

In [63]:
# Use groupby and sortvalues cuntion to calculate number of 
# appointments per month
combined_df['count_of_appointments'].groupby([combined_df['appointment_month'].dt.year,\
                                     combined_df['appointment_month'].dt.month])\
                                     .size().sort_values(ascending=False)

appointment_month  appointment_month
2022               3                    124590
                   5                    117829
                   6                    113626
2021               12                   112551
2022               1                    111764
                   2                    110876
                   4                    109163
2021               11                    98418
                   9                     95363
                   10                    94640
                   8                     89785
2020               3                     21350
                   1                     20889
                   2                     20689
                   10                    20122
                   9                     20043
2021               7                     19899
                   6                     19814
2020               11                    19675
                   7                     19502
2021               4                     19452
2020               12                    19394
2021               5                     19384
                   3                     19369
                   1                     19319
2020               8                     19247
                   4                     19124
2021               2                     18949
2020               6                     18844
                   5                     18338
Name: count_of_appointments, dtype: int64

#

# Assignment activity 4

### Create visualisations and identify possible monthly and seasonal trends in the data.

In [37]:
# Import the necessary libraries.
import seaborn as sns
import matplotlib.pyplot as plt

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

### Objective 1
Create three visualisations indicating the number of appointments per month for service settings, context types, and national categories.

In [38]:
# Change the data type of the appointment month to string to allow for easier plotting.

In [39]:
# Aggregate on monthly level and determine the sum of records per month.


# View output.

**Service settings:**

In [40]:
# Plot the appointments over the available date range, and review the service settings for months.
# Create a lineplot.

**Context types:**

In [41]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [42]:
# Plot the appointments over the available date range, and review the context types for months.
# Create a lineplot.

**National categories:**

In [43]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [44]:
# Plot the appointments over the available date range, and review the national categories for months.
# Create a lineplot.

### Objective 2
Create four visualisations indicating the number of appointments for service setting per season. The seasons are summer (August 2021), autumn (October 2021), winter (January 2022), and spring (April 2022).

**Summer (August 2021):**

In [45]:
# Create a separate data set that can be used in future weeks. 


# View output.

In [46]:
# Look at August 2021 in more detail to allow a closer look.
# Create a lineplot.

**Autumn (October 2021):**

In [47]:
# Look at October 2021 in more detail to allow a closer look.
# Create a lineplot.

**Winter (January 2022):**

In [ ]:
# Look at January 2022 in more detail to allow a closer look.
# Create a lineplot.

**Spring (April 2022):**

In [ ]:
# Look at April 2022 in more detail to allow a closer look.
# Create a lineplot.

#

# Assignment activity 5

### Analyse tweets from Twitter with hashtags related to healthcare in the UK.

In [ ]:
# Libraries and settings needed for analysis
import pandas as pd
import seaborn as sns

# Set figure size.
sns.set(rc={'figure.figsize':(15, 12)})

# Set the plot style as white.
sns.set_style('white')

# Maximum column width to display
pd.options.display.max_colwidth = 200

In [ ]:
# Load the data set.


# View the DataFrame.

In [ ]:
# Explore the metadata.

In [ ]:
# Explore the data set.

In [ ]:
# Would it be useful to only look at retweeted and favourite tweet messages?
# Explain your answer.

In [ ]:
# Create a new DataFrame containing only the text.


# View the DataFrame.

In [ ]:
# Loop through the messages, and create a list of values containing the # symbol.

In [ ]:
# Display the first 30 records.

In [ ]:
# Convert the series to a DataFrame in preparation for visualisation.


# Rename the columns.

In [ ]:
# Fix the count datatype.


# View the result.

In [ ]:
# Display records where the count is larger than 10.

In [ ]:
# Create a Seaborn barplot indicating records with a count >10 records.

In [ ]:
# Create the plot.


# View the barplot.

#

# Assignment activity 6

### Investigate the main cencerns posed by the NHS.

In [ ]:
# Prepare your workstation.
# Load the appointments_regional.csv file.


# View the DataFrame.

In [ ]:
# Print the min and max dates.

In [ ]:
# Filter the data set to only look at data from 2021-08 onwards.

**Question 1:** Should the NHS start looking at increasing staff levels?

In [ ]:
# Create an aggregated data set to review the different features.


# View the DataFrame.

In [ ]:
# Determine the total number of appointments per month.


# Add a new column to indicate the average utilisation of services.
# Monthly aggregate / 30 to get to a daily value.


# View the DataFrame.

In [ ]:
# Plot sum of count of monthly visits.
# Convert the appointment_month to string data type for ease of visualisation.


# Create a lineplot with Seaborn.

In [ ]:
# Plot monthly capacity utilisation.


# Create a lineplot.

**Question 2:** How do the healthcare professional types differ over time?

In [ ]:
# Create a line plot to answer the question.

**Question 3:** Are there significant changes in whether or not visits are attended?

In [ ]:
# Create a line plot to answer the question.

**Question 4:** Are there changes in terms of appointment type and the busiest months?

In [ ]:
# Create a line plot to answer the question.

**Question 5:** Are there any trends in time between booking an appointment?

In [ ]:
# Create a line plot to answer the question.

**Question 6:** How do the spread of service settings compare?

In [ ]:
# Let's go back to the national category DataFrame you created in an earlier assignment activity.

In [ ]:
# Create a new DataFrame consisting of the month of appointment and the number of appointments.

# View the DataFrame.

In [1]:
# Create a boxplot to investigate spread of service settings.

In [ ]:
# Create a boxplot to investigate the service settings without GP.

#

### Provide a summary of your findings and recommendations based on the analysis.

> Double click to insert your summary.