In [2]:
# import the Pandas and Numpy libraries
import pandas as pd
import numpy as np

In [3]:
# import the the actual_duration data set
ad = pd.read_csv('actual_duration.csv')

# sense-check the data by printing the ad dataframes column headers
print(ad.columns)

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')

In [4]:
# import the the appointments_regional data set
ar = pd.read_csv('appointments_regional.csv')

# sense-check the data by printing the ad dataframes column headers
print(ar.columns)

Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')

In [5]:
# import the the national_categories data set 
nc = pd.read_excel('national_categories.xlsx')

In [6]:
# sense-check the data by printing the ad dataframes column headers
print(nc.columns)

Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')

In [7]:
# determine the descriptive statistics for the dataframes
ad.describe()

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [8]:
# determine the metadata for the dataframes
print(ad.info())
print(ar.info())
print(nc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB
None

In [20]:
# check the number of unique locations was correct
count_of_locations = nc['sub_icb_location_name'].nunique()

print(count_of_locations)

106

In [22]:
# calculate the number of unique locations the dataset
locations_check = ad['sub_icb_location_code'].nunique()

print(locations_check)

106

In [42]:
# calculate the five locations with the highest number of records

In [33]:
# group the nc dataframe by location
locations_grouped = nc.groupby('sub_icb_location_name')

# create an empty list to store location count
count_of_records = []

# calculate the count of records for each location
# add the calculated values to the count of records list
for location_name, group_data in locations_grouped:
    count = len(group_data.index)
    count_of_records.append({
        'sub_icb_location_name': location_name, 'count': count
    })

# create a pandas dataframe with the count of records list
count_of_records = pd.DataFrame(count_of_records)

# sort the dataframe by the count column in descending order
sorted_count_of_records = count_of_records.sort_values(
    by='count', ascending=False
)

sorted_count_of_records.head()

                          sub_icb_location_name  count
76            NHS North West London ICB - W2U3Z  13007
47                NHS Kent and Medway ICB - 91Q  12637
21                          NHS Devon ICB - 15N  12526
36  NHS Hampshire and Isle Of Wight ICB - D9Y0V  12171
67            NHS North East London ICB - A3A8R  11837

In [11]:
# calculate the number of service settings
# (this matches the number of service settings in the metadata)
service_setting_count = nc['service_setting'].nunique()

print(service_setting_count)

5

In [34]:
# calculate the number of context types
# (this matches the number of service settings in the metadata)
context_type_count = nc['context_type'].nunique()

print(context_type_count)

3

In [41]:
# calculate the number of national categories
# (this matches the number of service settings in the metadata)
national_category_count = nc['national_category'].nunique()

print(national_category_count)

18

In [40]:
# calculate the number of appointment statuses
# (this matches the number of service settings in the metadata)
appointment_status_count = ar['appointment_status'].nunique()

print(appointment_status_count)

3